.done-text {
  font-weight: 200;
}

.strong-green {
  color: $green;
}

.card-nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.row {
  margin-top: -15px;
  margin-bottom: -15px;
}

// -----------------------------------------
.completed-badge {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.2;
  height: 100px;
  width: 100px;
}

.lg-card-content {
  width: 800px;
  margin: 0 auto;
}

.tab-content, .tab-pane {
  clear:both;
}

.bg-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  background: image-url("pattern1.svg");
  background-repeat:no-repeat;
  background-position:right bottom;
  clear: both;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  h1 {
    color: #ffffff;
    font-size: 90px !important;
    margin-top: 230px;
    font-weight: bold;
  }
}

#intro-mail {
  font-size: 25px;
  color: $pink;
}

.content-container-team {
  left: calc(50% - 420px);
  margin-bottom: 60px;
}

.live-content {
  position: relative;
  width: 700px;
  padding: 30px;
  font-size: 18px;
  opacity: 1;
  p {
    margin: auto;
  }
  h1 {
    margin-bottom: 30px;
  }
}

.content-container {
  padding: 15px;
  position: relative;
  p {
    width: 90%;
  }
}

.team-desc {
  margin-top: 50px;
  width: 800px;
  font-size: 16px;
  opacity: 0.8;
  strong {
    color: $green;
  }
}

#welcome-content {
  // margin-top: 520px;
}

#you-content {
  margin-top: 70px;
}

// -----------------------------------------

.objectives-wrapper {
  position: relative;
  width: 800px;
}

.sub-desc {
  width: 70%;
  opacity: 0.6;
}

.btn-obj {
  background-color: $brand-color !important;
  position: absolute;
  top: 45px;
  right: 15px;
  font-size: 14px !important;
  text-transform: uppercase;
  &:hover {
    color: #DCDCDC;
  }
}
a.btn-obj {
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
  }
}

.sign-out {
  margin-left: 1px;
}

.dashboard-wrapper {
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#mini-sidebar {
  visibility: hidden;
}

#sidebar {
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  display: inline;
  color: rgba(255,255,255,0.6); // Needs a variable
  height: inherit;
  width: 60px;
  transition: width 0.4s ease;
  background-color: $brand-color;
  text-transform: uppercase;
  .user-front {
    left: 10px;
    text-align: center;
  }
  img {
    margin: 15px auto;
  }
  .question {
    margin-top: 30px;
  }
  &:hover  {
    width: 150px;
    transition: width 0.4s ease;
  }
  i {
    font-size: 28px;
  }
}

@media (max-width: 700px) {
  .tab-pane.active {
    margin: 0;
  }
  #main {
    padding: 0 !important;
    width: 100vw;
  }
  .card, .lg-card {
    margin: 0 !important;
    border-radius: 0;
    margin-bottom: 5px;
    width: 100vw !important;
  }
  .live-content, .lg-card-content, #welcome-content {
    width: 100%;
  }
  .dashboard-wrapper {
    display: flex;
    flex-direction: column;
    #sidebar {
      width: 100%;
      height: 60px;
      .user-front {
        display: none;
      }
    }
  }
}

.user-points {
  font-size: 16px;
  opacity: 0.7;
}

.sidebar-links {
  position: absolute;
  margin-top: 100px;
  justify-content: space-around;
  flex-direction: column;
  ul {
    padding: 0;
    margin: 0;
  }
  a {
    color: rgba(255,255,255,0.5);
    &:hover {
      text-decoration: none;
      color: rgba(255,255,255,1);
    }
  }
  li {
    list-style-type: none;
    margin-bottom: 30px;
    .link-text {
      margin-left: 20px;
      display: inline;
      text-align: left;
    }
    li {
      text-align: center;
    }
  }
}

/* MAIN CONTENT */
#main {
  z-index: 2;
  position: relative;
  height: inherit;
  padding: 40px;
  width: 100%;
  background-color: #F6F9FC;
  overflow-y: auto;
  .card {
    margin: 15px auto;
  }
}

.lg-card {
  box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
  h2 {
    font-size: 4.5rem;
  }
  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 5rem;
  }
}

input[type=checkbox]:checked + .strikethrough {
  text-decoration: line-through;
  color: grey;
  opacity: 0.5;
}

#done-1 {
  margin: 15px auto;
  width: 80px;
  height: 80px;
}

#done-2 {
  text-align: center;
  margin-top: 0;
  width: 80px;
  height: 80px;
}

#badge-email-team {
  margin: 15px auto;
  width: 100px;
  height: 100px;
}

#objectives {

}

// for carousel of team cards
.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.carousel-control.right {
  right: 15px;
  left: auto;
}
.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}
.carousel-caption p {
    margin-bottom: 0;
}

@media screen and (max-width: 700px){
  .carousel-caption p {
      font-size: 13px;
  }
  .carousel-caption {
    background: rgba(0, 0, 0, 0.55);
  }
  .carousel-control {
    top: 20%;
  }
}






// Progress experiments
.one, .two, .three {
  position: absolute;
  margin-top: -10px;
  z-index: 1;
  height: 40px;
  width: 40px;
  border-radius: 25px;
}

.one{
  left:20%;
}
.two{
  left:45%;
}
.three{
  left:70%;
}
.four {
  left:95%;
  position:absolute;
  margin-top:-10px;
  z-index:1;
  height:45px;
  width:45px;
  border-radius:25px;
  color: #BEBEBE;
  img {
    height:45px;
    width:45px;
  }
}

.first-star-done{
  margin-top: -17px !important;
  height: 65px !important;
  width: 65px !important;
  left: -9px;
  position: relative;
  opacity: 1;
}

#tools {
  text-align: left;
  p {
    text-align: left;
  }
  h1 {
    margin: 0;
  }
}

.tool {
  max-width: 230px;
  height: 350px;
  h3 {
    margin-top: 0;
  }
  img {
    width: 100%;
    height: auto;
    padding: 30px 0;
  }
  .tool-link {
    position: absolute;
    bottom: 30px;
    font-size: 90%;
    i {
      font-size: inherit;
    }
  }
}

.content-container-tools {
  width: 810px;
  position: relative;
  left: calc(50% - 405px);
}

.navbar-links {
  position: relative;
  left: -40px;
}

#where {
  text-align: left;
  // .content-container-team {
  //   position: absolute;
  //   width: 800px;
  // }
  p {
    text-align: left;
  }
}

.content-container-team-home {
  margin: 50px auto;
}

.content-container-where {
  width: 810px;
  position: relative;
  left: calc(50% - 405px);
  margin-bottom: 60px;
}

.content-container-team-detail {
  width: 810px;
  position: relative;
  left: calc(50% - 405px);
  margin-bottom: 60px;
}

.home-contact-info {
  padding: 50px;
  text-align: center;
  position: relative;
  p {
    margin-top: 10px;
    font-weight: 200;
  }
}


#toStepOne {
  margin-top: 15px;
}

#step1 {
  margin-top: 15px;
}

// .btn:focus {
//   background-color: $pink;
// }

.user-profile-text {
  text-align: left;
  width: auto;
}

.m-top-15 {
  margin-top: 15px;
}


#team-details {

}

.owl-item {
  // margin-left: 10px;
  width: 90%;
  .team-card {
    width: 600px;
    height: 400px;
  }
  .card {
    box-shadow: 0 -1px 12px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
    &:hover {
      box-shadow: 0 2px 15px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
      transform: translateY(0px);
    }
  }
  .s-card {
    transform: translateY(0px);
  }
}

#personal-information {
  text-align: center;
}

#badge-personal-information {
  margin: 15px auto;
  width: 100px;
  height: 100px;
}
