<div class="banner" style="background-image: linear-gradient(-225deg, rgba(70,52,107,0.7) 0%, rgba(0,36,61,0.3) 50%), url('https://images.pexels.com/photos/28409/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb');">
  <div class="banner-content">
    <h1>A Better Way to Onboard<br /> Your New Employees</h1>
      <!-- <p>Very cool stuff, useful and smart</p> -->
    <a class="btn btn-pink btn-lg">GET STARTED</a>
  </div>
</div>


    <section class="content-1-5 content-block">
    			
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="editContent" data-selector=".editContent">
						<h1>Our latest product has all the fancy features you could want</h1>
					</div>
					<div class="editContent" data-selector=".editContent" style="outline: none; cursor: inherit;">
						<p class="lead">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor. Et harum quidem rerum.</p>
					</div>
					<div class="editContent" data-selector=".editContent" style="outline: none; cursor: inherit;">
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labor. Et harum quidem rerum.</p>
					</div>
				</div>
			
				<div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12">
					<img class="img-responsive" src="http://placehold.it/600x500" data-selector="img">
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
		
    </section>















<section class="">
  <div class="container">
    <div class="col-3 text--center">
      <img src="http://store.storeimages.cdn-apple.com/4044/as-images.apple.com/is/image/AppleInc/aos/published/images/H/D1/HD162/HD162?wid=800&hei=800&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=1400749861094" alt="" class="details-img--ball"/>
    </div>
    <div class="col-7 details">
      <h3>Product is so awesome.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere temporibus omnis illum, officia. Architecto voluptatibus commodi voluptatem perspiciatis eos possimus, eius at molestias quaerat magnam? Odio qui quos ipsam natus.</p>
    </div>
  </div>
</section>

<section class="section--primary">
  <div class="container">
    <div class="col-3 features">
      <i class="fa fa-bolt"></i>
      <p>
        Product so awesome. Makes you awesome - go buy!
      </p>
    </div>
    <div class="col-3 features">
      <i class="fa fa-bank"></i>
      <p>
        Product so great. Makes you even greater - go buy now. Super cheap deal!
      </p>
    </div>
    <div class="col-3 features">
      <i class="fa fa-heart"></i>
      <p>
        Feel lonely? Go buy product and have a friend! 
      </p>
    </div>
  </div>
</section>




<footer>
  <div class="container">
    <p>&copy; 2017 Achievr.io / All rights reserved.</p>
  </div>
</footer>