<div class="banner" style="background-image: linear-gradient(-225deg, rgba(70,52,107,0.7) 0%, rgba(0,36,61,0.3) 50%), url(<%= asset_path 'header.jpg' %>);">
  <div class="banner-content">
    <h1>A Better Way to Onboard<br /> Your New Employees</h1>
      <!-- <p>Very cool stuff, useful and smart</p> -->
    <a class="btn btn-pink btn-lg">Learn More</a>
  </div>
</div>
