.navbar-links {
  p {
    color: rgba(0,0,0,0.6);
    margin: 0;
    font-weight: 300;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  a {
    color: rgba(255,255,255,0.5);
    &:hover {
      text-decoration: none;
      color: rgba(255,255,255,1);
    }
    &:active {
      background-color: rgba(255,255,255,1);
    }
  }
  li {
    list-style-type: none;
    margin-bottom: 30px;
    .link-text {
      text-transform: uppercase;
      display: inline;
      text-align: center;
    }
    li {
      text-align: center;
    }
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  // background-color: #E8E7EE;
  // border: 0 !important;
}

.nav-tabs {
  border-radius: 0 !important;
  border: 0 !important;
}

.active li, a.active, li, li ~ a, .nav-tabs{
  border-radius: 0 !important;
  color: $brand-color;
  border: 0 !important;
}

.nav li {
  padding: 20px auto;
  margin-bottom: 0 !important;
}

.nav > li > a {
  padding: 20px 15px !important;
  border: 0 !important;
  border-radius: 0 !important;
}

.img-circle {
  width: 100px;
  height: 100px;
}

a {
  border: none !important;
}

li.active {
  border: none !important;
}

.nav li {
  margin: 0 !important;
}

.nav, .nav-tabs, ul .nav-tabs > li > a {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
  border-bottom-right-radius: none !important;
  border-bottom-left-radius: none !important;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav-tabs > li > a:hover {
  text-decoration: none;
  // background-color: #E8E7EE;
}

// round border for first tab
#you .nav-tabs > li.active > a:first-child {
  background-color: $brand-color;
  border: 0 !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 0 !important;
}

// round border for last tab
a:last-child #you .nav-tabs > li.active {
  // background-color: #7361e4;
  border: 0 !important;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 0 !important;

}

// color of #you tabs
#you .nav-tabs > li.active > a, #you .nav-tabs > li.active > a:hover, #you .nav-tabs > li.active > a:focus {
  color: #ffffff;
}


.nav-logo-text {
  text-decoration: none;
  font-size: 34px;
  font-weight: bold;
  color: $brand-color;
  // transition: all 0.1s;
  &:hover {
    // transition: all 0.1s;
    color: lighten($brand-color, 15%);
  }
}


.navbar-wagon {
  border-bottom-color: rgba(0,0,0,0.1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // background: white;
  background: rgba(255,255,255,0.5);
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
}

/* Optional class to fix the navbar on top */
.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
.navbar-wagon-brand img {
  height: 30px;
  // width: 50px; --> Default setting for round logo
}

/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  // flex: 0 0 50%;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
}

.progress {
  margin-bottom: 0px;
  flex: 0 0 50%;
}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 15px;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Navbar right button */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  border: 2px solid #D23333;
}
.navbar-wagon-button:hover {
  color: white;
  background: #D23333;
  border-color: #ac2626;
}

/* Navbar search form */
.navbar-wagon-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}
.navbar-wagon-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}
.navbar-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}
.navbar-wagon-search-input:focus  {
  border: 1px solid #CCCCCC;
}

/* Navbar dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.progress-wrapper {
  width: 80%;
}

.progress-bar, .progress {
  border-radius: 15px;
}


.progress-bar-vertical {
  // width: 20px;
  // min-height: 100px;
  // margin-right: 20px;
  // float: left;

  // display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  // display: -ms-flexbox;  /* TWEENER - IE 10 */
  // display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */

  // display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  // align-items: flex-end;
  // -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.progress-bar-vertical .progress-bar {
  // width: 100%;
  // height: 0;
  // -webkit-transition: height 0.6s ease;
  // -o-transition: height 0.6s ease;
  // transition: height 0.6s ease;
}


