<hr>
<div class="content-container" id="tools">


  <div class="content-container-tools">
    <h2>Tools to get familiar with</h2>

    <br>

    <p>These are the tools you'll use on a regular basis.</p>

    <br>

    <div class="col-xs-4">
      <div class="card s-card tool">
        Excel
      </div>
    </div>
    <div class="col-xs-4">
      <div class="card s-card tool">
        TensorFlow
      </div>
    </div>
    <div class="col-xs-4">
      <div class="card s-card tool">
        Salesforce
      </div>
    </div>
  </div>
  <br>
  <p>showing 3 of 3</p>
</div>
