<hr>
<div class="content-container">
  <h2>Tools to get familiar with</h2>
  <br>
  <p>These are the tools you'll use on a regular basis.</p>
  <br>
  <div class="tool-display">
    <!-- loop through team tools? -->
    <div class="tool">
      <h3>Not Windows</h3>
    </div>
    <div class="tool">
      <h3>Not quite Excel</h3>
    </div>
    <div class="tool">
      <h3>paper cup</h3>
    </div>
  </div>
  <br>
  <p>showing 3 of 3</p>
</div>
