<hr>
<div class="content-container" id="tools">


    <h1>Tools you'll use</h1>

    <br>

    <p>These are the tools our company uses to do what we do best.</p>

    <br>

    <div class="content-container-tools">
    <div class="col-xs-4">
      <div class="card s-card tool">
        <!-- <h3><strong>Basecamp</strong></h3> -->
        <%= image_tag "basecamp.png"%>
        <br>
        <p>Basecamp is the project management we use at Indeed</p>
        <a href="#" class="tool-link"><strong>Login <i class="fa fa-arrow-right" aria-hidden="true"></strong></i></a>

      </div>
    </div>
    <div class="col-xs-4">
      <div class="card s-card tool">
        <!-- <h3><strong>software</strong></h3> -->
        <%= image_tag "buffer.png"%>
        <br>
        <p>We use Buffer to manage our social media accounts. </p>
        <a href="#" class="tool-link"><strong>Login <i class="fa fa-arrow-right" aria-hidden="true"></strong></i></a>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="card s-card tool">
        <!-- <h3><strong>software</strong></h3> -->
        <%= image_tag "host-analytics-logo.png"%>
        <br>
        <p>For planning, consolidation, reporting and analytics.</p>
        <a href="#" class="tool-link"><strong>Login <i class="fa fa-arrow-right" aria-hidden="true"></strong></i></a>
      </div>
    </div>
  </div>
</div>
