<div class="content-container" id="where">
  <div class="completed-badge meet-mentor">
    <%= image_tag("icons/001-quality.png", class: toggle_badge("meet-mentor"), id: "badge-meet-mentor") %>
  </div>
  <h2>Where to go</h2>
  <br>

  <p>Your first day is <strong class="strong-green"><%= current_user.start_date.to_formatted_s(:long_ordinal) %></strong>.</p><br>
  <p>Please come to
    <strong class="strong-green">
      <a href="https://www.google.co.jp/maps/place/indeed+Tokyo/@35.6421125,139.7112027,17z/data=!3m1!4b1!4m5!3m4!1s0x60188b15d9955555:0xf1fa1b426b6bb6c7!8m2!3d35.6421082!4d139.7133967?hl=en" target="_blank">20-3 Ebisu 4-chome, Shibuya, Tokyo 150-6032</a>
    </strong>
  </p>
  <br>


  <%= image_tag "map.png", class: "static-map"%>


  <br>

  <p>When you arrive at the reception on the 22nd floor, please call Jenny Chen. She'll give you a tour of the office and show you your desk.</p>
  <br>

  <h2>Who to contact</h2>
  <br>

  <p>If you have any questions before your first day, please feel free to contact either Jenny Smith (HR Manager) or Chris Hutchinson (Sales Director):</p>
  <br>
</div>
  <div class="content-container-where">
    <div class="row">
      <div class="col-xs-12 col-sm-6 team-member">
        <div class="card s-card team-card">
          <div class="user-profile-small">
            <img src="http://res.cloudinary.com/hidehiro98/image/upload/v1493268353/women_luq0rt.png" alt="Jenny Chen" class="img-circle">
            <div class="user-profile-text">
              <div class="username"><p>Jenny Smith</p></div>
              <div class="email">
                <strong>jenny@smart-bi.com</strong>
              </div>
              <div class="contact-ph">Office: 03-5000-8010</div>
              <!-- <div class="description"><%#= member.bio %></div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 team-member">
        <div class="card s-card team-card">
          <div class="user-profile-small">
            <img src="http://res.cloudinary.com/hidehiro98/image/upload/v1493268352/chris_rliksy.jpg" alt="Chris Hutchinson" class="img-circle">
            <div class="user-profile-text">
              <div class="username"><p>Chris Hutchinson</p></div>
              <div class="email">
                <strong>chris@smart-bi.com</strong>
              </div>
              <div class="contact-ph">Office: 03-5000-8011</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
