<div id="sidebar">
  <div class="sidebar-links">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-home" aria-hidden="true"></i><p class="link-text">Home</p></a></li>
      <li><a data-toggle="tab" href="#you"><i class="fa fa-user-o" aria-hidden="true"></i><p class="link-text" id="you-flash">You</p></a></li>
      <li><a data-toggle="tab" href="#team"><i class="fa fa-users" aria-hidden="true"></i><p class="link-text">Team</p></a></li>
      <li><a data-toggle="tab" href="#" id="resources"><i class="fa fa-list-ul" aria-hidden="true"></i><p class="link-text">Resources</p></a></li>
    </ul>
  </div>
</div>
