<div class="dashboard-wrapper">

  <!-- <div class="container"> -->
    <div id="sidebar">
      <div class="user-front">
        <img src="http://placehold.it/100x100" class="img-circle">
        <p>name</p>
        <div class="user-points">
          <p>5/2000</p>
        </div>
      </div>
    </div>
    <div id="main">
      This is where the magic happens
    </div>
  <!-- </div> -->
</div>
