.btn, .btn-primary {
  border: none;
  color: white;
  &:hover {
    // background-color: inherit;
    border: none;
  }
  &:focus {
    background-color: inherit !important;
    border: none;
  }
}

/* Instead of bootstraps really shitty buttons */
button {
  border: none !important;
  color: white;
  border-width: 0px;
  padding: 7px;
  &:hover {
    // background-color: inherit !important;
    // border: none;
  }
  &:focus {
    // background-color: inherit !important;
    // border: none;
  }
}

.btn-wide {
  width: 130px;
  border-radius: 20px;
}

.btn-pink {
  background-color: #ff3569;
  color: #fff;
  padding: 13px 20px 13px 15px;
  font-size: 16px;
  border-radius: 6px;
  letter-spacing: 0.8px;
}

.btn-default:hover {
  background-color: #ff2b61;
  color: #fff;
}
