// borrowed elements

.card {
  position: relative;
  box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
  background-color: #FFFFFF;
  color: #252422;
  // margin-bottom: 10px;
  border-radius: 6px;
  padding: 30px;
  // min-height: 300px;
  // flex: 1 1 100%;
  margin: 15px;
}

.card-svg-1 {
  position: absolute;
  width: 130px;
  height: 130px;
  left: -35px;
  top: calc(50% - 65px);
}

// NEW CARDS
.s-card {
  width: 440px;
  padding: 30px;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #6b7c93;
  transition-duration: .15s;

  &:hover {
    color: $brand-color !important;
    transform: translateY(-2px);
    box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
    transition-duration: .15s;
  }
}

.card-showcase {
  width: 965px;
  left: 50%;
  display: inline-flex;
  position: relative;
  left: -19%;
}

.uppercase {
  font-size: 17px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
}


.card h2 {
  margin: 15px 0;
  font-size: 26px;
  font-weight: 300;
}
.card label {
  font-size: 14px;
}
.card-header {
  text-align: center;
  h2 {
    font-size: 30px;
  }
}

.card-header,
.card-title,
.card-content,
.card-footer {
  position: relative;

}

.card-footer, .card-content {
  margin-top: 20px;
}

.card a {
  margin-top: 15px;
  font-weight: 300;
}

.card .mentor {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mentor-photo {
  width: 150px;
  margin: 10px 0;
}

.mentor-text {
  width: 200px;
}

