.user-profile-small {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  clear:both;
  padding: 10px;
  img {
    flex-grow: 1;
    max-width: 100px;
    padding: 10px;
  }
  .user-profile-text {
    flex-grow: 2;
    padding: 10px;
    min-width: 234px;
  }

  .username {
    font-size: 23px;
    font-family: $name-font !important;
    font-weight: bold;
    p {
      margin: 0;
    }
  }

  .email {
    font-size: 16px;
  }
  .contact-ph {
    font-size: 14px;
  }
  .description {
    margin-top: 10px;
    font-size: 14px;
  }
}

.team-card {
  padding: 10px;
  width: initial;
}

#email-team {
  margin: 15px auto;
}
